*.[oa]
*.~
*.swp
tags
test/*.tests
test/*_test
test/*.jpg
test/*.png
test/opencv/*.jpg
test/opencv/*.png
test/*_test
bin/*.jpg
bin/*.png
bin/*.tex
bin/*.txt
bin/*.dat
bin/*.bin
bin/*.json
bin/*.xml
bin/*.diff
bin/data/*
data/*
tool/*
