lib/*.[oa]
lib/*.~
lib/*.swp
lib/tags
lib/3rdparty/*.[oa]
lib/3rdparty/*.~
lib/3rdparty/*.swp
test/*.[oa]
test/*.~
test/*.swp
test/*.jpg
test/*.png
test/*.tex
test/*.tests
test/tags
test/*_test
test/opencv/*.[oa]
test/opencv/*.~
test/opencv/*.swp
test/opencv/*.jpg
test/opencv/*.png
test/opencv/tags
bin/*.jpg
bin/*.png
bin/*.[oa]
bin/*.~
bin/*.swp
bin/tags
bin/data/*
data/*
tool/*
