/* Base */

body {
    background: url(../img/background.jpg);
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    display: block;
    margin: 20px auto;
    width: 400px;
}

.button-try {
    position: relative;
    display: block;
    margin: -60px auto 20px;
    width: 200px;
}

.button-visit {
    display: block;
    margin: 50px auto;
    width: 160px;
    text-transform: uppercase;
    padding: 20px;
    border: 3px solid #fff;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font: 0.8em Arial, sans-serif;
}
    .button-visit:hover {
        background: rgba(255, 255, 255, 0.1);
    }
